<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="STTech.BytesIO.Core" version="2.13.3-alpha0707" targetFramework="net472" />
  <package id="STTech.BytesIO.Serial" version="2.13.3-alpha0707" targetFramework="net472" />
  <package id="STTech.CodePlus" version="1.5.13" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>